<div class="profile-container">
  <div class="profile-box">
    <div class="user-photo">
      <img src="{{user.image}}" alt="user picture">
    </div>
    <div class="user-info">
      <span>{{user.name}}</span>
      <span>{{user.email}}</span>
      <span>{{commentNum}}已評論餐廳</span>
      <a href="/users/{{user.id}}/edit" class="edit-profile">Edit</a>
    </div>
  </div>
  <span>{{commentNum}}已評論餐廳</span>
  <div class="commented">
  {{#each comments}}
    <a href="/restaurants/{{this.id}}" class="commented-restaurant"><img src="{{this.image}}" alt=""></a>
  {{/each}}
  </div>
</div>

